@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
  --c-primary: #FDD540;
  --c-secondary: #C1C1C1;
  --c-bg-dark: #434142;
  --c-bg-light: #FFFFFF;
  --br-mobile: 5px;
  --br-plus: 10px;
  --fw-regular: 400;
  --fw-bold: 700;
}
*{
  padding: 0;
  margin: 0;
}
html, body{
  min-height: 85vh;
  /* height: 100%; */
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
body {
  display: flex;
  align-items: center;
  background-color: var(--c-bg-dark);
}
main{
  margin-inline: auto;
  width: 90vw;
  padding-block: 1rem;
}
h1, h2 {
  margin: 0;
}
.introduce, .introduce__group{
  margin-bottom: 20px;
}
.introduce__group{
  color: var( --c-primary );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.introduce__group > svg {
  font-size: 1.6rem;
}
.form{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.8rem;
}
.form__input_group{
  position: relative;
  grid-column: 1 / span 5;
}
.form__input_group > button {
  position: absolute;
  height: 100%;
  padding: 1rem;
  background-color: var(--c-primary);
  color: var(--c-bg-dark);
  font-weight: var(--fw-bold);
  border: none;
  top: 0;
  right: 0;
  border-radius: 0 var(--br-mobile) var(--br-mobile) 0;
  z-index: 1;
}
.form__input{
  height: 3rem;
  border: none;
  border-radius: var(--br-mobile);
  background-color: var(--c-bg-light);
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.form__input.invalid{
  outline: 2px solid rgb(255, 75, 75);
  z-index: 2;
}
.form__input:focus{
  outline: 2px solid var(--c-primary);
  z-index: 2;
}
.form > button {
  height: 3rem;
  grid-column: 6;
  border-radius: var(--br-mobile);
  border: none;
  background-color: var(--c-primary);
}
.form > button > svg {
  color: var(--c-bg-dark);
  font-size: 1.5rem;
}
.empty__text{
  color: var(--c-bg-light);
  font-size: 1rem;
  text-align: center;
}
.group{
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cards{
  columns: 3;
  gap: 10px;
}
.card{
  list-style: none;
}
.card__img{
  border-radius: var(--br-mobile);
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.footer{
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer__copy{
  color: var(--c-bg-light);
}
.footer__link{
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--c-primary);
}

/** Spinner */
.spinner{
  display: flex;
  width: 100%;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--c-primary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media (min-width: 1321px){
  main{
    width: clamp( 45vw, 60vw, 70%)
  }

  button:hover, svg:hover{
    opacity: 80%;
  }
}